/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

body{
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}
ul li{
  list-style: none;
}
img{
  max-width: 100%;
  height: auto;
}

/* ===========
  focal-banner
==============*/

.focal-banner{
  background: url(img/cover.png);
  background-position: center;
  background-size: cover;
  height: 110vh;
  background-attachment: fixed;
}
.baneer-title{
  text-align: center;
  padding-top: 420px;
}
.baneer-title h1{
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  display: inline-block;
  padding: 10px 16px;
  text-transform: uppercase;
}
.baneer-title button{
  display: block;
  margin-left: 45%;
  width: 180px;
  height: 51px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  margin-top: 52px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  font-weight: bold;
}
.baneer-title button:hover{
  background: #2ecc71;
  opacity: .9;
  color: black;
  border: 2px solid #2ecc71;
}
 
.focal-indicator{
  margin-left: 1376px;
  margin-top: 165px;
}


/* ===========
  menu section
==============*/

.focal-menu-bar{
  background: #252d2f;
  height: 120px;
}
.menu-bar-icon{
  color: #fff;
  display: none;
}
.focal-logo{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.f-logo h1{
  width: 42px;
  height: 42px;
  color: #fff;
  background-color: #4b5456;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  font-size: 28px;
  font-weight: bold;
}
.logo-img{
  margin-left:20px;
  margin-top:30px;
}

.focal-menu-item ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.focal-menu-item ul li a{
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  display: block;
  margin-top: 44px;
  padding: 6px 20px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.focal-menu-item ul li a:hover{
  color: #2ecc71;
}

/* ===========
  body section
==============*/

.focal-body-description{
  padding: 100px 0;
}
.focal-body-description h2{
  margin-bottom: 40px;
  color: #566366;
  font-size: 30px;
  font-weight: bold;
}
.focal-body-description p{
  font-size: 18;
  color: #919191;
}


/* ===========
  about me section
==============*/

.focal-about-me-section{
  background-color: #f1f1f1;
}
.about-img{
  width: 400px;
  height: auto;
}
.about-me-details{
  padding-top: 50px;
  margin-left: -80px;
}

.about-title h1{
  margin-bottom: 45px;
  font-weight: bold;
  font-size: 30px;
  color: #566366;
}
.about-title p{
  margin-bottom: 50px;
  font-size: 18px;
  color: #919191;
}

.work{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.work-2{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  margin-left: -155px;
}

.work-icon i{
  color: #2dcb71;
  font-size: 40px;
  margin-right: 20px;
}

.work-title h6{
  font-size: 18px;
  font-weight: bold;
  color: #566366;
  text-transform: uppercase;
}
.work-title p{
  font-size: 18px;
  color: #919191;
}

/* ===========
  Skills section
==============*/

.focal-skills-section{
  background-color: #fff;
}
.skills-discription{
  padding-top: 100px;
  padding-bottom: 200px;
}
.skills-discription h1{
  font-size: 27px;
  font-weight: bold;
  color: #566366;
  text-transform: uppercase;
}
.skills-discription p{
  color: #919191;
  font-size: 18px;
  padding: 35px 0;

}
.skills-discription button{
  width: 182px;
  height: 55px;
  font-size: 18px;
  font-weight: bold;
  color: #2ecc71;
  border: 2px solid #2ecc71;
  background: transparent;
  padding: 10px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.skills-discription button:hover{
 background: #2ecc71;
 opacity: .9;
 color: black;
}
.skills-details{
  padding: 120px 0;
  position: relative;
}
.photoshop::after{
  content: '';
  display: block;
  width: 100%;
  height: 20px;
  background-color: #f1f1f1;
  margin: 10px 0;
}
.photoshop::before{
  content: '';
  display: block;
  width: 90%;
  height: 20px;
  background-color: #2dcb71;
  position: absolute;
  top: 31%;
}
.illustator::after{
  content: '';
  display: block;
  width: 100%;
  height: 20px;
  background-color: #f1f1f1;
  margin: 10px 0;
}
.illustator::before{
  content: '';
  display: block;
  width: 80%;
  height: 20px;
  background-color: #2dcb71;
  position: absolute;
  top: 43.8%;
}
.html::after{
  content: '';
  display: block;
  width: 100%;
  height: 20px;
  background-color: #f1f1f1;
  margin: 10px 0;
}
.html::before{
  content: '';
  display: block;
  width: 90%;
  height: 20px;
  background-color: #2dcb71;
  position: absolute;
  top: 56.8%;
}

.php::after{
  content: '';
  display: block;
  width: 100%;
  height: 20px;
  background-color: #f1f1f1;
  margin: 10px 0;
}
.php::before{
  content: '';
  display: block;
  width: 70%;
  height: 20px;
  background-color: #2dcb71;
  position: absolute;
  top: 69.7%;
}


.skills-details .label-1{
  position: absolute;
  top: 30.6%;
  left: 77%;
  color: #fff;
}
.skills-details .label-2{
  position: absolute;
  top: 43.5%;
  left: 66%;
  color: #fff;
}
.skills-details .label-3{
  position: absolute;
  top: 56.6%;
  left: 77%;
  color:#fff;
}

.skills-details .label-4{
  position: absolute;
  top: 69.5%;
  left: 60%;
  color: #fff;
}

/* ===========
  Resume section
==============*/

.focal-resume{
  background: #f2f2f1;
  text-align: center;
  padding-bottom: 115px;
}

.resume-title h1{
  padding-top: 80px;
  margin-bottom: 50px;
  color: #566366;
  font-size: 30px;
  font-weight: bold;
}
.resume-title p{
  color: #919191;
  font-size: 18px;
  padding-bottom: 50px;
}
.resume-title button{
  width: 215px;
  height: 55px;
  background: transparent;
  border: 2px solid #2dcb71;
  color: #2dcb71;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
}

/* ===========
  Education section
==============*/

.focal-education-section{
  background-color: #fff;
  padding: 100px 0;
}
.education-section{
  border-bottom: 1.5px solid #cccccc;
}
.education-discription h1{
  font-size: 30px;
  font-weight: bold;
  color: #566366;
  text-transform: uppercase;
  padding-bottom: 50px;
}
.education-discription-2 h1{
  font-size: 30px;
  font-weight: bold;
  color: #566366;
  text-transform: uppercase;
  padding-bottom: 50px;
  margin-top: 120px;
}
.education-discription-2 p{
  color: #919191;
  font-size: 18px;
}

.education-discription p{
  color: #919191;
  font-size: 18px;
}
.education-details{
 margin-top: 90px;
 padding-bottom: 30px;
 margin-left: 20%;
}
.education-details-2{
  margin-top: 200px;
  padding-bottom: 30px;
  margin-left: 20%;
 }

.details-heading h3{
  font-size: 20px;
  font-weight: bold;
  color: #566366;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.details-heading p{
  color: #919191;
  font-size: 15px;
}
.details-heading h6{
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  border: 1px solid #2ecc71;
  background-color: #2ecc71;
  width: 60px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.details-body p{
  color: #919191;
  font-size: 15px;
  border-top: 1.5px solid #cccccc;
  display: inline-block;
  padding: 20px 0;
}

/* ===========
  client Review
==============*/

.focal-client-review{
  background-color: #f2f2f1;
  padding: 100px 0;
}
.client-review{
  text-align: center;
}
.client-review p{
  font-size: 18px;
  color: #919191;
}
.client-review h6{
  font-weight: bold;
  font-size: 18px;
  color: #566366;
  text-transform: uppercase;
  margin: 40px 0;
}


/* ================
portfolio section
=================*/

.focal-portfolio-section{
 background-color: #ffff;
 padding: 100px 0;
}
.portfolio-title{
  text-align: center;
}
.portfolio-title h1{
  font-size: 30px;
  font-weight: bold;
  color: #566366;
  margin-bottom: 40px;
}
.portfolio-title p{
  font-size: 18px;
  color: #919191;
  padding-bottom: 60px;
}
.portfolio-img{
  padding: 30px 10px;
}
.portfolio-img{
  position: relative;
}
.social-link{
  position: absolute;
  top: 30px;
  left: 10px;
  width: 88%;
  height: 83.2%;
  opacity: 0;
  background: rgba(43, 162, 95, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.portfolio-img:hover .social-link {
  opacity: .9;
}
.social-link a{
  color: #fff;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.social-link a:hover{
  color: blue;
}


/* ================
contact section
=================*/

.focal-contact-section{
 background-color: #252d2f;
 padding: 100px 0;
}

.contact-title h1{
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
.contact-title p{
  color: #777777;
  font-size: 18px;
  margin-top: 47px;
}
.contact-title h6{
  color: #fff;
}
.contact-title h6 span{
  color: #777777;
  margin-left: 40px;
}
.contact-form{
  padding-top: 70px;
}

.form input{
  display: block;
  margin-bottom: 20px;
  outline: none;
  background-color: #4b5456;
  border: 2px solid #4b5456;
  width: 540px;
  height: 36px;
  color: #fff;
  padding: 10px;
}
.form label{
  color: #fff;
  margin-bottom: 10px;
  font-size: 15px;
}
.form textarea{
  display: block;
  outline: none;
  background-color: #4b5456;
  border: 2px solid #4b5456;
  margin-bottom: 20px;
  height: 239px;
  width: 540px;
  color: #fff;
  padding: 10px;
}
.form button{
 width: 182px;
 height: 55px;
 background-color: #191f21;
 border: 2px solid #191f21;
 color: #fff;
 -webkit-transition: .5s;
 -o-transition: .5s;
 transition: .5s;
}
.form button:hover{
  background-color: #2dcb71;
  border: #2dcb71;
 }
 

 /* ============
 footer section
 ==============*/

 .focal-footer-section{
  text-align: center;
  background-color: #181f21;
  padding: 50px 0;
 }
 .footer-title h6{
  color: #444d4f;
  font-size: 14px;
  font-weight: medium;
 }
 .footer-social-icon{
  margin-top: 27px;
 }

 .footer-social-icon a{
   margin: 0 2px;
   font-size: 14px;
   color: #191f21;
   background-color: #4b5355;
   padding: 10px 10px;
   border-radius: 50%;
   -webkit-transition: .5s;
   -o-transition: .5s;
   transition: .5s;
}
.footer-social-icon a:hover{
  color: #fff;
}